* {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: sans-serif;
}

.footer-content, .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 48px 0;
}

.icon-link {
    padding: 5px;
}

.icon-link svg:hover {
    fill: #5a2ba5;
}